

/* option 1: FLEXBOX */

.grid-container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
 }



.tile-item {
  height: 150px;
  width: 150px;
  position: relative;
  border: 2px solid black;
  background: $teal;
  color: white;
  padding: 1px;
  margin: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex: 0 0 auto;
  text-align:center;
  hyphens: auto;
  overflow-wrap: break-word;
}


/* option 2: GRID */

/* .grid-container {
  display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
    grid-auto-rows: 150px;
    grid-gap: 1px;
    box-sizing:border-box;
    max-width: 95%;
    white-space:pre-wrap;
}

.tile-item {
  margin: -1px;
  padding: 0.5px;
  height: 150px;
  width: 150px;
  border: black 1px solid;
  z-index: 1;
  box-sizing: border-box;
} */
