* {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.heading {
  font-family: Montserrat, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.heading--main {
  font-size: 36px;
  line-height: 42px;
}

.heading--small {
  font-size: 24px;
  line-height: 30px;
}

.copy {
  text-align: center;
}
